# Archivos y carpetas de entorno virtual
venv/
.env
*.venv
pip-log.txt
pip-delete-this-directory.txt

venv1/
.env1
*.venv1

# Configuración de PyCharm
.idea/

# Archivos de caché y compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de logs y temporales
*.log
*.tmp
*.swp
*.swo
.DS_Store

# Configuración específica de PyQt6
*.qrc
*.pyc
*.qmlc

# Dependencias instaladas
# requirements.txt

# Archivos de paquetes y distribución
dist/
build/
*.egg-info/

data/
password-manager/data/